@tailwind base;
@tailwind components;
@tailwind utilities;

.v-popper__inner {  
  background-color: theme('colors.theme.500') !important;
  font-size: .75rem;
}

.v-popper__arrow-container {
  color: theme('colors.theme.500') !important;
  background-color: theme('colors.theme.500') !important;
}

.v-popper__arrow-outer {
  border-color: theme('colors.theme.500') !important;
}